/*! Generales */
/*Ayuda para hacer el diseño*/
div{
    /* border: 2px solid rgb(0, 0, 0); */
}
html{
min-width: 100%;
    width: 100%;
    height: fit-content;
}

body{
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    min-height: 50vw;
    background-color:  rgb(243, 245, 252);
}

#copiar{
    justify-content: end;
    color: rgb(44, 107, 184);
    background-color:white;
    border: 2px solid rgb(44, 107, 184);
    margin: 1vw auto;
}

#main-area{
width: 70%;
min-height: 100%;
max-height: 100%;
}

/*! Logo */
#header-logo{
    display: inline-block;
    margin: 35px 10px 40px 35px;
}
#header-logo>img{
    width: 100%;
    height: 100%;
}
/*! Texto a ingresar */
#texto-usuario{    
    /* border: 2px red solid; */

    min-height: 70%;
    min-width: 70%;
    display: flex;
    justify-content: center;
}

#texto{
    border:none;
    color: rgba(10, 56, 113,1);
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 200%;
    width: 100%;
    max-width: 80%;
    height: 400px; 
    padding: 20px;
    margin: 0 0 0 100px;
    background-color:  rgb(243, 245, 252);
    resize: none;
}

/*! Botones */

.zona-botones{
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
}

button:active{
    transform: scale(1.1);
}

.formato-boton{
    cursor: pointer;
    text-align: center;
    padding: 15px 100px;
    border-radius: 40px;
    margin: 0 20px 0 20px;
    font-size: 100%;
    font-family: "Inter", sans-serif;
}
#botones{
    width: fit-content;
}

.zona-botones >p {
    margin-left: 10%;
    font-size: 100%;
}

#encriptar{
    background-color: rgba(10, 56, 113, 1);
    color: white;
}
#encriptar:hover{
    background-color: rgba(10, 56, 113, .5);
    transition-duration: 500ms;
}

#desencriptar{
    background-color: rgb(243, 245, 252);
    color: blue;
    border: 2px solid rgb(10, 56, 113);
}

#desencriptar:hover{
    background-color: rgb(177, 195, 219);
    transition-duration: 500ms;
}

/*! Resultado */

#resultado{
    border-radius: 30px;
    background-color: white;
    min-width: 25%;
    max-width: 25%;
    margin: 2% 5% 2% 1vw;
}

#area-resultado{
    margin: 50% 10px 0 10px ;
    height: 30vw;
    font-size: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;   
}

#area-resultado > img{
    width: 60%;
}

#texto-resultado{
    margin: 20% 0 0 0 ;
    height: 40vw;
    font-size: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;
    
}
#texto-resultado > textarea {
    resize: none;
    border: none;
    font-size: 200%;
    color: rgba(10, 56, 113,1);
    width: 70%;
    height: 80%;
    padding: 0px 20px;
    outline: 0 none;
}

@media (0px<= width <=1000px){
    #main-area{
        width: 100%;

    }
    
    body,html{
        max-width:100%;
        display: block;
    }
    .zona-botones{
        width: 100%;
        display: inline-block;
    }
    #texto-usuario{
        /*Investigar calcular en base a la pantalla*/
        width:fit-content;
    }
    #texto-resultado{

    }
    #texto{
        margin: 0 30px ;
        width:150%;
    }
    #botones{
        justify-content: center;
        width: 100vw;
        display: flex;
    }
    #botones>button{
        font-size: 3vw;
    }

    .formato-boton{
        padding: 3vw 20vw;
        display: flex;
        justify-content: center;
        width: 10vw;
        font-size: 100%;
    }
    .zona-botones >p {
    margin-left: 10%;
    font-size: 3vw;
}
    #resultado{
        margin: 1% auto;
        min-width:90%;
        min-height: max-co;
    }
    #area-resultado{
        height: 100%;
        font-size: 4vw;
       margin: 8vw 0 0 0;
       padding: 2vw;
    }

    #texto-resultado{
        height: fit-content;
        margin: 5vw 1vw;
    }
    #texto-resultado>textarea{
        height: 100vw;    
        margin: 4vw 0 0 0 ;
    }
    #texto-resultado>button{
        display: flex;
        justify-content: center;
    }
}

@media (0px<= width <=500px){

    #botones{
        display: inline;
        width: 100vw;
    }
    #encriptar{
        margin-bottom:5vw;
    }
    .formato-boton{
        margin: 1vw auto;
       padding: 5vw 5vw;
        width: 80vw;

    }
    #area-resultado{
        
        font-size: 5vw;
       margin: 8vw 0 10vw 0;
       padding: 2vw;
    }
}