
/*! Generales */
div{
    /* border: 2px solid black; */
}

html{
    width: 100%;
    height: 100%;
    margin: 0 0;
}
body{
    margin: 0 0;
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    height:100%;
    background-color:  rgb(243, 245, 252);
}

#copiar{
    justify-content: end;
    color: rgb(44, 107, 184);
    background-color:white;
    border: 2px solid rgb(44, 107, 184);
    margin: 1vw auto;
}

/*! Logo */
#header-logo{
    display: inline-block;
    margin: 35px 10px 40px 35px;
}
#header-logo>img{
    width: 100%;
    height: 100%;
}
/*! Texto a ingresar */
.main-area{
    width: 75%;
}

#texto-usuario{    
    /* border: 2px red solid; */

    min-height: 60%;
    min-width: 70%;
    display: flex;
    justify-content: center;
}

#texto{
    border:none;
    color: rgba(10, 56, 113,1);
    outline: none;
    font-family: "Inter", sans-serif;
    font-size: 200%;
    width: 100%;
    max-width: 80%;
    height: 400px; 
    padding: 20px;
    margin: 0 0 0 100px;
    background-color:  rgb(243, 245, 252);
    resize: none;
}

/*! Botones */

.zona-botones{
    width: fit-content;
    justify-content: center;
    margin: 0 auto;
}

button:active{
    transform: scale(1.1);
}

.formato-boton{
    cursor: pointer;
    text-align: center;
    padding: 15px 100px;
    border-radius: 40px;
    margin: 0 20px 0 20px;
    font-size: 100%;
    font-family: "Inter", sans-serif;
}
#botones{
    width: fit-content;
}

.zona-botones >p {
    margin-left: 10%;
    font-size: 100%;
}

#encriptar{
    background-color: rgba(10, 56, 113, 1);
    color: white;
}
#encriptar:hover{
    background-color: rgba(10, 56, 113, .5);
    transition-duration: 500ms;
}

#desencriptar{
    background-color: rgb(243, 245, 252);
    color: blue;
    border: 2px solid rgb(10, 56, 113);
}

#desencriptar:hover{
    background-color: rgb(177, 195, 219);
    transition-duration: 500ms;
}

/*! Resultado */

#resultado{
    margin: 5% auto;
    border-radius: 30px;
    background-color: white;
    width: 90%;
    height: 85%;  

}
.resultado-area{
    height: 100%;
    width: 30%;
}
.contenido>*{
    width: 100%;
    height: 70%;
}
#area-resultado{
    padding-top: 20%;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    font-size: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;   
}

#area-resultado > img{
    width: 60%;
}

#texto-resultado{
    margin: 15% 0 0 0 ;
    height: 100%;
    font-size: 15px;
    text-align: center;
    font-family: "Inter", sans-serif;
    
}
#texto-resultado > textarea {
    margin: 10% 0 0 0;
    resize: none;
    border: none;
    font-size: 200%;
    color: rgba(10, 56, 113,1);
    width: 70%;
    height: 70%;
    padding: 0px 20px;
    outline: 0 none;
}

@media (0px<= width <=1000px){

    #main-area{
        height: 100vw;
    }
    html{
        height: fit-content;
    }
    body{
        height: 100%;
    }
    main{
        display: inline-block;
    }
    
    .zona-botones{
        width: 95vw;
        display: inline-block;
    }
    #texto-usuario{
        /*Investigar calcular en base a la pantalla*/
        width:95vw;
        margin: 0 auto;
    }
    #texto{
        margin: 0 30px ;
        width:150%;
    }
    #botones{
        justify-content: center;
        width: 100vw;
        display: flex;
    }
    #botones>button{
        font-size: 3vw;
    }
    .resultado-area{
        width: 100%;
        height: 30vw;
    }
    .formato-boton{
        padding: 3vw 20vw;
        display: flex;
        justify-content: center;
        width: 10vw;
        font-size: 100%;
    }
    .zona-botones >p {
    margin-left: 10%;
    font-size: 3vw;
}
    #resultado{
        height: fit-content;
        margin: 5% auto;
        min-width:90%;
    }
    #area-resultado{
        width: fit-content;
        font-size: 4vw;
       padding: 2vw;
    }
    #resultado-area{
        height: 150vw   ;
    }
    #texto-resultado{
        height: fit-content;
        margin: 5vw 1vw;
    }
    #texto-resultado>textarea{
        height: 50vw;    
        margin: 4vw 0 0 0 ;
    }
    #texto-resultado>button{
        display: flex;
        justify-content: center;
    }
}

@media (0px<= width <=500px){

    #botones{
        display: inline;
        width: 100vw;
    }
    #encriptar{
        margin-bottom:5vw;
    }
    .formato-boton{
        margin: 1vw auto;
       padding: 5vw 5vw;
        width: 80vw;

    }
    #texto-resultado>textarea{
        min-height: 150vw;
    }
    #area-resultado{
        
        font-size: 5vw;
       margin: 8vw 0 10vw 0;
       padding: 2vw;
    }
}